* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    transition: .5s;
    color: #fff;
}

header {
    width: 100%;
}

.slider {
    height: 666px;
    padding: 10px 0;
    background-image: url('../images/me.jpg');
    background-size: cover;
    text-align: center;
}

.slider h4{
    font-size: 45px;
    border-top:  3px solid #fff;
    border-bottom:  3px solid #fff;
    display: inline-block;
    padding: 10px; 0;
    margin: 250px; auto;
}


.container {
    width: 80%;
    margin: 0 auto;
}

nav {
    background-color: #252f31;
    overflow: hidden;
}

nav h4 {
    height: 100%;
    padding: 20px 0;
    display: inline-block;
}

nav span {
    color: #2ecc71;
}

nav ul {
    padding: 0 227px;
    display: inline-block;
}

nav li {
    padding:  8px;
    display: inline-block;
}

nav a:hover, .active {
    color: #2ecc71;
}

.clear {
    clear: both;
}

.features {
    padding: 55px 0;
}

.feat {
    width: 33%;
    display: inline-block;
}

h3 {
    color: #555;
    text-transform: uppercase
}

.feat h3 {
    font-size: 16px;
    padding-bottom: 15px;
}

p, q{
    font-size: 14px;
    color: #666;
    line-height: 1.7;
}

.feat p {
    padding-right: 50px;
}

.about {
    width: 100%;
    max-height: 453px;
    overflow: hidden;
    background-color: #eee;

}

.my-img {
    width: 40%;
    float: left;
}

.my-img img {
    width: 100%;;
}

.about-me {
    width: 60%;
    padding: 47px 0;
    float: left;
}

.about h3, .resume h3 {
    padding-bottom: 7px;
}

.about p {
    color: #666;
    padding: 10px 0;
}

.carears {
    width: 100%;
}

.carear h4 {
    color: #2ecc71;
}

.carear p {
    font-size: 12px;
    padding-right: 30px;
}

.row {
    width: 100%
}

.skills, .education, .work, .contact {
    padding: 60px 0;
    overflow: hidden;

}

.myskills, .progress, .myeducation, .exp, .mywork, .contactme, .form, .carear {
    width: 50%;
    float: left;
}

.myskills h3, .education h3, .portfolio h3 {
    padding: 0;
}

.myskills p, .resume p, .education p, .work p, q, .portdolio p, .contactme p, address {
    padding-top: 25px;
}

button {
    background: none;
    border: 2px solid #2ecc71;
    color: #2ecc71;
    font-size: 14px;
    padding: 6px 24px;
    margin-top: 25px;
    text-transform: uppercase;
    cursor: pointer;
}

.myskills button:hover, .resume button:hover {
    background-color: #2ecc71;
    color: #fff;
    border-radius: 3px;
}

.myskills, .myeducation, .mywork, .contactme {
    padding-right: 55px;
}

.progress, .exp, .form {
    padding-left: 55px;
}

.technique {
    padding-top: 25px;
}

.technique h4, .myexp h4 {
    font-size: 14px;
    color: #555;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.technique div {
    height: 20px;
    background-color: #f2f2f2;
}

.technique span {
    height: 20px;
    display: block;
    background-color: #2ecc71;
    line-height: 20px;
    color: #fff;
    font-weight: bold;
    text-align: right;
}

.resume, .testimonials {
    padding: 60px 0;
    background-color: #f2f2f2;
    text-align: center;
}

.resume p, q, .portfolio p {
    padding: 25px 50px 0;
}

.resume button {
    padding: 6px 30px;
}

.myexp {
    padding-top: 50px;
}

.myexp h4 {
    padding: 0;
}

.myexp span {
    font-size: 12px;
    color: #999;
    display: block;
    padding: 10px 0;
}

.myexp .gpa {
    font-size: 10px;
    color: #fff;
    background-color: #2ecc71;
    display: inline-block;
    padding: 5px;
}

hr {
    margin: 18px 0;
}

.exp p {
    padding: 0;
}

q {
    font-size: 16px;
    font-style: italic;
}

.testimonials h4 {
    padding: 10px 0;
}

.testimonials a {
    font-size: 14px;
    color: #666;
}

.testimonials li {
    width: 7px;
    height: 7px;
    border: 1px solid #2ecc71;
    border-radius: 50%;
    display: inline-block
}

.testimonials .active, .testimonials li:hover {
    background-color: #2ecc71;
    cursor: pointer;
}

.portfolio {
    padding: 60px 0;
}

.portfolio h3 {
    text-align: center;

}

.portfolio p {
    color: #777;
    text-align: center;
}

.row {
    padding-top: 30px;
}

.project {
    width: 33%;
    display: inline-block;
    padding: 0 25px;
}

.project img {
    width: 100%;
    max-height: 350px;
    background-color: #fff;
    box-shadow: 10px 10px 15px #ccc;
}

.project img:hover {
    padding-top: 10px;
    background: none;
}

.contact {
    background-color: #252f31;
}

.contact h3 {
    color: #fff;
    padding: 0;
}

.contactme p, address {
    color: #787d80;
    line-height: 1.7;
}

.contactme span {
    font-size: 12px;
    padding-right: 10px;
}

.form label {
    font-size: 14px;
    display: block;
    padding: 50px 0 5px;
}

.form input, textarea {
    width: 400px;
    height: 35px;
    padding: 0 5px;
    background-color: #4b5557;
    border: none;
    font-size: 12px;
}

textarea {
    height: 200px;
    padding-top: 10px;
}

.form button {
    background-color: #191e22;
    border: none;
    padding: 10px 30px;
    color: #fff;
}

.form button:hover {
    color: #787d80;
}

footer {
    background-color: #191e22;
}

footer p {
    font-size: 12px;
    color: #485254;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0;
}